mixin jobCategory(img='assets/imgs/page/homepage1/marketing.svg', title='Marketing & Sale', jobNumber='156', link='jobs-grid.html')
    a(href= link)
        .item-logo
            .image-left
                img(alt='jobBox', src= img)
            .text-info-right
                h4= title
                p.font-xs= jobNumber
                    span  Jobs Available

mixin jobCard-1(img='assets/imgs/brands/brand-1.png',company='LinkedIn', location='New York, US', jobTitle='UI / UX Designer fulltime',jobType='Fulltime',time='3', des='', salary='$500')    
    .card-grid-2.hover-up
        .card-grid-2-image-left
            span.flash
            .image-box
                img(src= img, alt='jobBox')
            .right-info
                a.name-job(href='company-details.html')= company
                span.location-small= location
        .card-block-info
            h6
                a(href='job-details.html')= jobTitle
            .mt-5
                span.card-briefcase= jobType
                span.card-time= time
                    span  minutes ago
            p.font-sm.color-text-paragraph.mt-15= des                    
            .mt-30
                if block
                    block
            .card-2-bottom.mt-30
                .row
                    .col-lg-7.col-7
                        span.card-text-price= salary
                        span.text-muted /Hour
                    .col-lg-5.col-5.text-end
                        .btn.btn-apply-now(data-bs-toggle='modal', data-bs-target='#ModalApplyJobForm') Apply now

mixin jobCard-2(img='assets/imgs/brands/brand-1.png',company='LinkedIn', location='New York, US', jobTitle='UI / UX Designer fulltime',jobType='Fulltime',time='3', des='', salary='$500')
    .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
        .card-grid-2.hover-up
            .card-grid-2-image-left
                span.flash
                .image-box
                    img(src= img, alt='jobBox')
                .right-info
                    a.name-job(href='company-details.html')= company
                    span.location-small= location
            .card-block-info
                h6
                    a(href='job-details.html')= jobTitle
                .mt-5
                    span.card-briefcase= jobType
                    span.card-time= time
                        span  minutes ago
                p.font-sm.color-text-paragraph.mt-15= des                    
                .mt-30
                    if block
                        block
                .card-2-bottom.mt-30
                    .row
                        .col-lg-7.col-7
                            span.card-text-price= salary
                            span.text-muted /Hour
                        .col-lg-5.col-5.text-end
                            .btn.btn-apply-now(data-bs-toggle='modal', data-bs-target='#ModalApplyJobForm') Apply now

mixin jobCard-3(labelClass='lbl-hot', labelText='Full time', img='assets/imgs/page/homepage2/img1.png', location='New York, US', jobTitle='React Native Web Developer',time='3 mins ago', des='', salary='$90 - $120')
    .card-grid-2.grid-bd-16.hover-up
        .card-grid-2-image
            span(class= labelClass)
                span= labelText
            .image-box
                figure
                    img(src= img, alt='jobBox')
        .card-block-info
            h5
                a(href='job-details.html')= jobTitle
            .mt-5
                span.card-location.mr-15= location
                span.card-time= time
            .card-2-bottom.mt-20
                .row
                    .col-xl-7.col-md-7.mb-2
                        if block
                            block
                    .col-xl-5.col-md-5.text-lg-end
                        span.card-text-price= salary
                        span.text-muted /Hour
            p.font-sm.color-text-paragraph.mt-20= des

mixin jobCard-4(jobType='Full time', img='assets/imgs/page/homepage3/linked.png', location='New York, US', jobTitle='UX Designer & Researcher working remote',time='3 mins ago', salary='$200', company='Linkedin')
    .card-grid-2.grid-bd-16.hover-up
        .card-block-info.pt-25
            h6
                a(href='job-details.html')= jobTitle
            .mt-5
                span.card-briefcase.mr-15= jobType
                span.card-time= time
            .mt-20.border-bottom.pb-20
                if block
                    block
            .card-2-bottom.mt-20
                .row
                    .col-lg-7.col-md-7
                        .d-flex
                            img.img-rounded(src= img, alt='jobBox')
                            .info-right-img
                                h6.color-brand-1.lh-14= company
                                span.card-location.font-xxs.pl-15.color-text-paragraph-2= location
                    .col-lg-5.col-md-5.text-end
                        span.card-text-price= salary
                        span.text-muted /Hour

mixin jobCard-List(img='assets/imgs/brands/brand-1.png',company='LinkedIn', location='New York, US', jobTitle='UI / UX Designer fulltime',jobType='Fulltime',time='3', des='', salary='$500')
    .col-xl-12.col-12
        .card-grid-2.hover-up
            span.flash
            .row
                .col-lg-6.col-md-6.col-sm-12
                    .card-grid-2-image-left
                        .image-box
                            img(src= img, alt='jobBox')
                        .right-info
                            a.name-job(href='')= company
                            span.location-small= location
                .col-lg-6.text-start.text-md-end.pr-60.col-md-6.col-sm-12
                    .pl-15.mb-15.mt-30
                        a.btn.btn-grey-small.mr-5(href='#') Adobe XD
                        a.btn.btn-grey-small.mr-5(href='#') Figma
            .card-block-info
                h4
                    a(href='job-details.html')= jobTitle
                .mt-5
                    span.card-briefcase= jobType
                    span.card-time
                        span= time
                        span  mins ago
                p.font-sm.color-text-paragraph.mt-10= des
                .card-2-bottom.mt-20
                    .row
                        .col-lg-7.col-7
                            span.card-text-price= salary
                            span.text-muted /Hour
                        .col-lg-5.col-5.text-end
                            .btn.btn-apply-now(data-bs-toggle='modal', data-bs-target='#ModalApplyJobForm') Apply now

mixin jobCard-List-2(img='assets/imgs/brands/brand-1.png',company='LinkedIn', location='New York, US', jobTitle='UI / UX Designer fulltime',jobType='Fulltime',time='3', des='', salary='$500')
    .col-xl-12.col-12
        .card-grid-2.hover-up.wow.animate__animated.animate__fadeIn
            span.flash
            .row
                .col-lg-6.col-md-6.col-sm-12
                    .card-grid-2-image-left
                        .image-box
                            img(src= img, alt='jobBox')
                        .right-info
                            a.name-job(href='')= company
                            span.location-small= location
                .col-lg-6.text-start.text-md-end.pr-60.col-md-6.col-sm-12
                    .pl-15.mb-15.mt-30
                        a.btn.btn-grey-small.mr-5(href='#') Adobe XD
                        a.btn.btn-grey-small.mr-5(href='#') Figma
            .card-block-info
                h4
                    a(href='job-details.html')= jobTitle
                .mt-5
                    span.card-briefcase= jobType
                    span.card-time
                        span= time
                        span  days ago
                p.font-sm.color-text-paragraph.mt-10= des
                .card-2-bottom.mt-20
                    .row
                        .col-lg-7.col-7
                            span.card-text-price Status:
                                span.text-success Done
                        .col-lg-5.col-5.text-end
                            a.btn.btn-apply-now(href='job-details.html') View Details


mixin jobCard-List-Sidebar(img='assets/imgs/brands/brand-1.png', jobTitle='UI / UX Designer fulltime',jobType='Fulltime',time='3', salary='$500', location='New York, US')
    .card-list-4.wow.animate__animated.animate__fadeIn.hover-up
        .image
            a(href='job-details.html')
                img(src= img, alt='jobBox')
        .info-text
            h5.font-md.font-bold.color-brand-1
                a(href='job-details.html')= jobTitle
            .mt-0
                span.card-briefcase= jobType
                span.card-time
                    span= time
                    span  mins ago
            .mt-5
                .row
                    .col-6
                        h6.card-price= salary
                            span /Hour
                    .col-6.text-end
                        span.card-briefcase= location

mixin RecruitersLogo(image, name, rate, location, jobNumber)
    .item-5.hover-up.wow.animate__animated.animate__fadeIn
        a(href='#')
            .item-logo
                .image-left
                    img(alt='jobBox', src= image)
                .text-info-right
                    h4= name
                    img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                    img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                    img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                    img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                    img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                    span.font-xs.color-text-mutted.ml-10
                        span (
                        span= rate
                        span )
                .text-info-bottom.mt-5
                    span.font-xs.color-text-mutted.icon-location= location
                    span.font-xs.color-text-mutted.float-end.mt-5= jobNumber
                        span  Open Jobs

mixin CardBlogSlider(img, category, title, excerpt, authorAvata, authorName, date, readingTime)
    .swiper-slide
        .card-grid-3.hover-up.wow.animate__animated.animate__fadeIn
            .text-center.card-grid-3-image
                a(href='#')
                    figure
                        img(alt='jobBox', src= img)
            .card-block-info
                .tags.mb-15
                    a.btn.btn-tag(href='blog-grid.html')= category
                h5
                    a(href='blog-details.html')= title
                p.mt-10.color-text-paragraph.font-sm= excerpt
                .card-2-bottom.mt-20
                    .row
                        .col-lg-6.col-6
                            .d-flex
                                img.img-rounded(src= authorAvata, alt='jobBox')
                                .info-right-img
                                    span.font-sm.font-bold.color-brand-1.op-70= authorName
                                    br
                                    span.font-xs.color-text-paragraph-2= date
                        .col-lg-6.text-end.col-6.pt-15
                            span.color-text-paragraph-2.font-xs= readingTime 

mixin listCheckBox(label, number)
    li
        label.cb-container
            input(type='checkbox')
            span.text-small= label
            span.checkmark
        span.number-item= number 

mixin listCheckBox-Checked(label, number)
    li
        label.cb-container
            input(type='checkbox', checked='checked')
            span.text-small= label
            span.checkmark
        span.number-item= number

mixin companyCard(img='assets/imgs/brands/brand-1.png', name='Car Toys', rate='66', location='New York, US', jobNumber='12')
    .card-grid-1.hover-up.wow.animate__animated.animate__fadeIn
        .image-box
            a(href='company-details.html')
                img(src= img, alt='jobBox')
        .info-text.mt-10
            h5.font-bold
                a(href='company-details.html')= name
            .mt-5
                img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                img(alt='jobBox', src='assets/imgs/template/icons/star.svg')
                span.font-xs.color-text-mutted.ml-10
                    span (
                    span= rate
                    span )
            span.card-location= location
            .mt-30
                a.btn.btn-grey-big(href='jobs-grid.html')
                    span= jobNumber
                    span  Jobs Open

mixin candidateCard(img='assets/imgs/page/candidates/user1.png', name='Robert Fox', subtile='UI/UX Designer', des='| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis?', location='Chicago, US', lasary='$45 / hour')
    .card-grid-2.hover-up
        .card-grid-2-image-left
            .card-grid-2-image-rd.online
                a(href='candidate-details.html')
                    figure
                        img(alt='jobBox', src= img)
            .card-profile.pt-10
                a(href='candidate-details.html')
                    h5= name
                span.font-xs.color-text-mutted= subtile
                .rate-reviews-small.pt-5
                    span
                        img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                    span
                        img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                    span
                        img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                    span
                        img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                    span
                        img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                    span.ml-10.color-text-mutted.font-xs (65)
        .card-block-info
            p.font-xs.color-text-paragraph-2= des        
            .card-2-bottom.card-2-bottom-candidate.mt-30
                .text-start
                    if block
                        block
            .employers-info.align-items-center.justify-content-center.mt-15
                .row
                    .col-6
                        span.d-flex.align-items-center
                            i.fi-rr-marker.mr-5.ml-0
                            span.font-sm.color-text-mutted= location
                    .col-6
                        span.d-flex.justify-content-end.align-items-center
                            i.fi-rr-clock.mr-5
                            span.font-sm.color-brand-1= lasary

mixin teamMember(img='assets/imgs/page/about/team1.png', name='Arlene McCoy', jobPosition='Frontend Developer', rate='65', location='New York, US')
    .card-grid-4.text-center.hover-up
        .image-top-feature
            figure
                img(alt='jobBox', src= img)
        .card-grid-4-info
            h5.mt-10= name
            p.font-xs.color-text-paragraph-2.mt-5.mb-5= jobPosition
            .rate-reviews-small.pt-5
                span
                    img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                span
                    img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                span
                    img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                span
                    img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                span
                    img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                span.ml-10.color-text-mutted.font-xs
                    span (
                    span=  rate  
                    span )
            span.card-location= location
            .text-center.mt-30
                a.share-facebook.social-share-link(href='#')
                a.share-twitter.social-share-link(href='#')
                a.share-instagram.social-share-link(href='#')
                a.share-linkedin.social-share-link(href='#')

mixin testimonial(des='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.', img='assets/imgs/page/about/user1.png', name='Mark Adair', job='Businessmen')
    .card-grid-6.hover-up
        .card-text-desc.mt-10
            p.font-md.color-text-paragraph= des
        .card-image
            .image
                figure
                    img(alt='jobBox', src= img)
            .card-profile
                h6= name
                span Businessmen

mixin faqCard(title='I have promotional or discount code?', content='')
    .card-grid-border.hover-up.wow.animate__animated.animate__fadeIn
        h4.mb-20= title
        p.font-sm.mb-20.color-text-paragraph= content       
        a.link-arrow(href='#') Keep Reading

mixin blogCard-1(thumb='assets/imgs/page/blog/img-big2.png', title='11 Tips to Help You Get New Clients', authorImg='assets/imgs/page/candidates/user3.png',author='Azumi Rose',date='25 April 2022')
    .card-grid-5.hover-up(style=`background-image: url('${thumb}')`)
        a(href='blog-details.html')
            .box-cover-img
                .content-bottom
                    h3.color-white.mb-20= title
                    .author.d-flex.align-items-center.mr-20
                        img.mr-10(alt='jobBox', src= authorImg)
                        span.color-white.font-sm.mr-25= author
                        span.color-white.font-sm= date

mixin blogCard-2(thumb='assets/imgs/page/blog/img1.png',cat='News', title='21 Job Interview Tips: How To Make a Great Impression', des='Our mission is to create the world&rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.', authorImg='assets/imgs/page/homepage1/user1.png', author='Azumi Rose', date='25 April 2022', minRead='8 mins to read')    
    .card-grid-3.hover-up
        .text-center.card-grid-3-image
            a(href='blog-details.html')
                figure
                    img(alt='jobBox', src= thumb)
        .card-block-info
            .tags.mb-15
                a.btn.btn-tag(href='blog-grid.html')= cat
            h5
                a(href='blog-details.html')= title
            p.mt-10.color-text-paragraph.font-sm= des
            .card-2-bottom.mt-20
                .row
                    .col-lg-6.col-6
                        .d-flex
                            img.img-rounded(src= authorImg)
                            .info-right-img
                                span.font-sm.font-bold.color-brand-1.op-70= author
                                br
                                span.font-xs.color-text-paragraph-2= date
                    .col-lg-6.text-end.col-6.pt-15
                        span.color-text-paragraph-2.font-xs= minRead

mixin inputWithLabel(id='input-1', label='Full Name *', type='text', name='fullname', placeholder='Steven Job')
    .form-group
        label.form-label(for= id)= label
        input.form-control(id=id, type= type, required='', name= name, placeholder= placeholder)
mixin CategoryCard-2(img='assets/imgs/page/homepage2/img-big1.png', title='Marketing & Sales', jobNumber='154')
    .card-grid-5.card-category.hover-up(style=`background-image: url('${img}')`)
        a(href='jobs-grid.html')
            .box-cover-img
                .content-bottom
                    h6.color-white.mb-5= title
                    p.color-white.font-xs
                        span=  jobNumber
                        span   Jobs Available

mixin jobReviews(img='assets/imgs/page/homepage4/user.png', title='Ellis Kim', position='Digital Artist', desc='Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt. Labore et dolore nostrud temp exercitation.')
    .card-review-1 
        .image-review 
            img(src= img, alt='jobBox')
        .review-info
            .review-name 
                h5= title
                span.font-xs= position
            .review-rating 
                img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                | 
                img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                | 
                img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                | 
                img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
                | 
                img(src='assets/imgs/template/icons/star.svg', alt='jobBox')
            .review-comment= desc